.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
    padding: 1rem;
    width: 100%;
  }

  & h3 {
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}