
button, select, [type=search], [type=number], [type=text] {
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: 500;
  height: 1.9rem;
  align-items: center;

  box-shadow: 
    inset 0.05rem 0.1rem 0.4rem rgba(0, 0, 0, 0.125),
    inset -0.05rem 0.1rem 0.4rem rgba(0, 0, 0, 0.125)
  ;
}

button, select {
  box-shadow: 
    0.05rem 0.1rem 0.4rem rgba(0, 0, 0, 0.125),
    -0.05rem 0.1rem 0.4rem rgba(0, 0, 0, 0.125)
  ;
}

button {
  // background-color: rgba(var(--clr-green-rgb), 0.15);
  // background-color: rgba(var(--clr-black-rgb), 0.15);
  background-color: var(--clr-black);
  color: var(--clr-white);
}

[type=radio] {
  filter: 
    drop-shadow(0.025rem -0.05rem 0.2rem rgba(0, 0, 0, 0.1))
    drop-shadow(-0.025rem 0.05rem 0.2rem rgba(0, 0, 0, 0.1))
  ;
}

// headings
h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
